<!doctype html>
<html lang="en">

<head>
    <title>Dojo Survey</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>



    <main>
        <form action="/submit_form" method="post">
                <div class="container border border-3 border-primary mt-4">
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Your Name:</label>
                        <div class="col">
                            <input type="text" class="form-control" name="fullName" placeholder="ex: Andrew Tran">
                        </div>
                    </div>

                    <div class="row m-3">
                        <label for="colFormLabel" class="col-2 col-form-label">Dojo Location:</label>
                        <div class="col-sm-3">
                            <select id="dojoLocation" name="dojoLocation" class="form-select">
                                <option>San Francisco</option>
                                <option>Seattle</option>
                                <option>Los Angeles</option>
                            </select>
                        </div>
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Favorite Language:</label>
                        <div class="col-sm-4">
                            <select id="favoriteLanguage" name="favoriteLanguage" class="form-select">
                                <option>Python</option>
                                <option>Javascript</option>
                            </select>
                        </div>

                    </div>
                    <div class="row m-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Comment (optional):</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="comment" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col-sm-10">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </div>
        </form>
    </main>
    <footer>



        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>


{% with messages = get_flashed_messages() %} <!-- declare a variable called messages -->
{% if messages %} <!-- check if there are any messages -->
{% for message in messages %} <!-- loop through the messages -->
<p>{{message}}</p> <!-- display each message in a paragraph tag -->
{% endfor %}
{% endif %}
{% endwith %}